<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site de dados com Google Charts desenvolvido por Enrico Sobrinho Gregório">
    <meta name="keywords" content="Análise, Dados, Google Charts, Gráfico, Informações">
    <title>Análise de dados com Google Charts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="../static/styles/error404.css">
</head>

<body>
    <header>
        <div>
            <h1 id="logo"><a href="/" target="_self">Home</a></h1>
        </div>
        <nav class="desktop">
            <ul>
                <li><a href="/cadastro" target="_self">Cadastrar alunos</a></li>
                <li><a href="/alunos" target="_self">Lista de alunos</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/sobre" target="_self">Sobre</a></li>
            </ul>
        </nav>
        <button class="menu-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </button>
        <nav class="mobile">
            <ul>
                <li><a href="/cadastro" target="_self">Cadastrar alunos</a></li>
                <li><a href="/alunos" target="_self">Lista de alunos</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/sobre" target="_self">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Essa página não existe!</h1>
        <p><a href="/" target="_self">Clique aqui</a> para voltar a página principal.</p>
    </main>
    <footer>
        <div id="contato">
            <div class="sociais">
                <h3>Redes sociais</h3>
                <ul>
                    <li><i class="fab fa-github"></i><a href="https://github.com/EnricoGregorio/" target="_blank">Meu perfil do GitHub</a></li>
                    <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/esg/" target="_blank">Meu perfil do LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <p>₢ 2022 - <span id="copyright-year"></span> <strong>Enrico Sobrinho Gregório</strong> | Todos os direitos reservados </p>
    </footer>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>