<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Site Câmara</title>
    <script src="https://kit.fontawesome.com/f156855bd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <header>
        <div>
            <h3 id="logo"><a href="/" target="_self">Secretaria xxxxx</a></h3>
        </div>
        <nav class="desktop">
            <ul>
                <li><a href="/" target="_self" id="home">Início</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/denuncie" target="_self">Denuncie Aqui <i class="fa-regular fa-message"></i></a></li>
                <li><i class="fa-solid fa-venus"></i></li>
            </ul>
        </nav>
        <button class="menu-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </button>
        <nav class="mobile">
            <ul>
                <li><a href="/" target="_self" id="home">Início</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/denuncie" target="_self">Denuncie Aqui <i class="fa-regular fa-message"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="graficos">
            <div id="columnchart_values"></div>
            <div id="piechart"></div>
        </section>
    </main>
    <footer>
        <p>Disque 190</p>
    </footer>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        let val1 = parseInt('{{qtdGrauEscolarVitima[1]}}')
        let val2 = parseInt('{{qtdGrauEscolarVitima[2]}}')
        let val3 = parseInt('{{qtdGrauEscolarVitima[3]}}')
        let val4 = parseInt('{{qtdGrauEscolarVitima[4]}}')
        let val5 = parseInt('{{qtdGrauEscolarVitima[5]}}')
        let val6 = parseInt('{{qtdGrauEscolarVitima[6]}}')
        let val7 = parseInt('{{qtdGrauEscolarVitima[7]}}')
        let val8 = parseInt('{{qtdGrauEscolarVitima[8]}}')
        let val9 = parseInt('{{qtdGrauEscolarVitima[0]}}')
        let val10 = parseInt('{{qtdGrauEscolarVitima[9]}}')
        let val11 = parseInt('{{qtdGrauEscolarVitima[10]}}')
        let val12 = parseInt('{{qtdGrauEscolarVitima[11]}}')
        let val13 = parseInt('{{qtdGrauEscolarVitima[12]}}')
        let val14 = parseInt('{{qtdGrauEscolarVitima[13]}}')
        let val15 = parseInt('{{qtdGrauEscolarVitima[14]}}')

        google.charts.load("current", {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart1);
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart2);
        function drawChart1() {
            let data = google.visualization.arrayToDataTable([
                ["Grau Escolar", "Quantidade", { role: "style" } ],
                ["Superior completo", val1, "#2f2b4e"],
                ["Superior incompleto", val2, "#5a5485"],
                ["Ensino Médio completo", val3, "#f69eb6"],
                ["Ensino Médio incompleto", val4, "#8e9fd5"],
                ["Ensino Fundamental completo", val5, "#fbd1dc"],
                ["Ensino Fundamental incompleto", val6, "#2f2b4e"],
                ["Lê e escreve", val7, "#5a5485"],
                ["Analfabeta", val8, "#f69eb6"],
                ["Não informado", val9, "#8e9fd5"]
            ]);

            let view = new google.visualization.DataView(data);
            view.setColumns([0, 1, 2]);

            let options = {
                title: "Qtd. de Vítimas Por Grau de Escolaridade",
                width: 600,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
            };
            let chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }

        function drawChart2() {
            let data = google.visualization.arrayToDataTable([
                ['Natureza do Fato', 'Qtd. de Vítimas por Natureza do Fato', {role: 'style'}],
                ['Violência psicológica (ameaça)', val10, "#2f2b4e"],
                ['Lesão corporal', val11, "#5a5485"],
                ['Perseguição', val12, "#f69eb6"],
                ['Injúria', val13, "#8e9fd5"],
                ['Feminicídio', val14, "#fbd1dc"],
                ['Outra', val15, "#2f2b4e"]
            ]);

            let view = new google.visualization.DataView(data);
            view.setColumns([0, 1, 2]);

            let options = {
                title: 'Qtd. de Vítimas por Natureza do Fato',
                width: 600,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
            };
            
            let chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</body>

</html>