<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site de dados com Google Charts desenvolvido por Enrico Sobrinho Gregório">
    <meta name="keywords" content="Análise, Dados, Google Charts, Gráfico, Informações">
    <title>Análise de dados com Google Charts</title>
    <script src="https://kit.fontawesome.com/f156855bd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/error404.css">
</head>

<body>
    <header>
        <div>
            <h3 id="logo"><a href="/" target="_self">Secretaria xxxxx</a></h3>
        </div>
        <nav class="desktop">
            <ul>
                <li><a href="/" target="_self" id="home">Início</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/noticias" target="_self">Notícias</a></li>
                <li><a href="/denuncie" target="_self">Denuncie Aqui <i class="fa-regular fa-message"></i></a></li>
                <li><i class="fa-solid fa-venus"></i></li>
            </ul>
        </nav>
        <button class="menu-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </button>
        <nav class="mobile">
            <ul>
                <li><a href="/" target="_self" id="home">Início</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/noticias" target="_self">Notícias</a></li>
                <li><a href="/denuncie" target="_self">Denuncie Aqui <i class="fa-regular fa-message"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer>
        <p>Disque 190</p>
    </footer>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>