<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site de dados com Google Charts desenvolvido por Enrico Sobrinho Gregório">
    <meta name="keywords" content="Análise, Dados, Google Charts, Gráfico, Informações">
    <title>Análise de dados com Google Charts</title>
    <script src="https://kit.fontawesome.com/f156855bd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <header>
        <div>
            <h3 id="logo"><a href="/" target="_self">Secretaria xxxxx</a></h3>
        </div>
        <nav class="desktop">
            <ul>
                <li><a href="/" target="_self" id="home">Início</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/denuncie" target="_self">Denuncie Aqui <i class="fa-regular fa-message"></i></a></li>
                <li><i class="fa-solid fa-venus"></i></li>
            </ul>
        </nav>
        <button class="menu-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </button>
        <nav class="mobile">
            <ul>
                <li><a href="/" target="_self" id="home">Início</a></li>
                <li><a href="/graficos" target="_self">Gráficos</a></li>
                <li><a href="/denuncie" target="_self">Denuncie Aqui <i class="fa-regular fa-message"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="" method="post">
            <div class="vitima">
                <h2>Denuncie já</h2>
                <label for="idade-vitima">Idade da vítima:</label>
                    <input type="number" name="idade-vitima" id="idade-vitima" min="1" max="100" required>
                <br>    
                <label for="grau-escolar-vitima">Grau de escolaridade da vítima:</label>
                    <select name="grau-escolar-vitima" id="grau-escolar-vitima">
                        <option value="Superior completo">Superior completo</option>
                        <option value="Superior incompleto">Superior incompleto</option>
                        <option value="Ensino Médio completo">Ensino Médio completo</option>
                        <option value="Ensino Médio incompleto">Ensino Médio incompleto</option>
                        <option value="Ensino Fundamental completo">Ensino Fundamental completo</option>
                        <option value="Ensino Fundamental incompleto">Ensino Fundamental incompleto</option>
                        <option value="Lê e escreve">Lê e escreve</option>
                        <option value="Analfabeto">Analfabeta</option>
                        <option value="Não informado" hidden selected>Não informado</option>
                    </select>
                <br>
                <label for="profissao-vitima">Profissão da vítima:</label>
                    <input type="text" name="profissao-vitima" id="profissao-vitima" minlength="3" maxlength="50" pattern=".{3,}" title="Três ou mais caracteres." required>
                <br>
                <label for="num-filhos">Número de filhos:</label>
                    <input type="number" name="num-filhos" id="num-filhos" min="0" max="30" required>
                <br>
                <label for="raca-vitima">Raça da vítima:</label>
                    <select name="raca-vitima" id="raca-vitima">
                        <option value="Amarelo">Amarela</option>
                        <option value="Branco">Branca</option>
                        <option value="Negro">Negra</option>
                        <option value="Pardo">Parda</option>
                        <option value="Vermelho">Vermelha</option>
                        <option value="Não informado" hidden selected>Não informado</option>
                    </select>
            </div>
            <div class="agressor">
                <label for="idade-agressor">Idade do agressor:</label>
                <input type="number" name="idade-agressor" id="idade-agressor" min="1" max="100" required>
            <br>    
            <label for="grau-escolar-agressor">Grau de escolaridade do agressor:</label>
                <select name="grau-escolar-agressor" id="grau-escolar-agressor">
                    <option value="Superior completo">Superior completo</option>
                    <option value="Superior incompleto">Superior incompleto</option>
                    <option value="Ensino Médio completo">Ensino Médio completo</option>
                    <option value="Ensino Médio incompleto">Ensino Médio incompleto</option>
                    <option value="Ensino Fundamental completo">Ensino Fundamental completo</option>
                    <option value="Ensino Fundamental incompleto">Ensino Fundamental incompleto</option>
                    <option value="Lê e escreve">Lê e escreve</option>
                    <option value="Analfabeto">Analfabeta</option>
                    <option value="Não informado" hidden selected>Não informado</option>
                </select>
            <br>
            <label for="profissao-agressor">Profissão do agressor:</label>
                <input type="text" name="profissao-agressor" id="profissao-agressor" minlength="3" maxlength="50" pattern=".{3,}" title="Três ou mais caracteres." required>
            <br>
            <label for="raca-agressor">Raça do agressor:</label>
                <select name="raca-agressor" id="raca-agressor">
                    <option value="Amarelo">Amarelo</option>
                    <option value="Branco">Branco</option>
                    <option value="Negro">Negro</option>
                    <option value="Pardo">Pardo</option>
                    <option value="Vermelho">Vermelho</option>
                    <option value="Não informado" hidden selected>Não informado</option>
                </select>
            </div>
            <div class="geral">
                <label for="natu-fato">Natureza do fato:</label>
                    <select name="natu-fato" id="natu-fato">
                        <option value="Violência psicológica (ameaça)">Violência psicológica (ameaça)</option>
                        <option value="Lesão corporal">Lesão corporal</option>
                        <option value="Perseguição">Perseguição</option>
                        <option value="Injúria">Injúria</option>
                        <option value="Feminicídio">Feminicídio</option>
                        <option value="Outra">Outra</option>
                    </select>
                <br>
                <label for="Bairro">Bairro onde ocorreu:</label>
                    <select name="bairro" id="bairro">
                        <option value="Promissão I">Promissão I</option>
                        <option value="Promissão II">Promissão II</option>
                        <option value="Promissão III">Promissão III</option>
                        <option value="Flamboyant">Flamboyant</option>
                        <option value="Jaderlândia">Jaderlândia</option>
                        <option value="Uraim">Uraim</option>
                        <option value="JK">JK</option>
                        <option value="Outro">Outro</option>
                        <option value="Não informado" hidden selected>Não informado</option>
                    </select>
            </div>
            <input type="submit" value="Concluir denúncia">
        </form>
    </main>
    <footer>
        <p>Disque 190</p>
    </footer>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>